# SANAL ORTAM #
venv/
.venv/
env/
pyvenv.cfg

# PYTHON #
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE #
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# VERİ & ÇIKTILAR #
*.csv
*.log
*.sqlite3
*.db

# GİZLİ DOSYALAR #
.env
.secrets
config.py

# SİSTEM #
.DS_Store  # macOS
Thumbs.db  # Windows

/mlruns/
**/data/
